@import 'config';

// CUSTOM USER STYLES & IMPORTS

body, html {
  position: relative;
  height: 100%;
}

//************************HEADER**************************
.header {
  height: 80px;
  padding: 0 30px;
  background-color: #1c3faa;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-breakpoint-down(md){
   height: 50px;
  }

  &__logo {
    display: flex;
    align-items: center;
    flex: 0 0 20%;
    color: #fff;

    svg {
      height: 60px;
      width: 62px;
      fill: #fff;

      @include media-breakpoint-down(md){
        height: 40px;
        width: 42px;
      }
    }

    span {
      padding: 0 16px;
      text-transform: uppercase;
    }

    &:hover {
      text-decoration: none;
      color: #fff;
  }
  }

  &__menu {
    flex: 1 1 auto;
  }

  // &__feature-bar {
  // }
}
.menu {
  position: relative;

  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  &__link {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    margin-right: 30px;
    padding: 6px 0;

    &:after{
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: #fff;
      opacity: 0;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }

    &:hover{ 
      color: #fff;
      text-decoration: none;
      transition: all .3s;

      &::after{
        opacity: 1;
      }
    }

    @include media-breakpoint-down(md) {
      margin: 20px 15px;
    }
  }

  .active .menu__link:after{
    opacity: 1;
  }

  @include media-breakpoint-down(md){
    position: fixed;
    height: calc(100% - 50px);
    top: 50px;
    right: -100%;
    background-color: #0056b3;
    width: 300px;
    transition: all .3s;
    overflow: auto;
    z-index: 10;

    ul {
      flex-direction: column;
      text-align: center;
    }

    li {
      padding: 10px 0;
    }
  }

}

.menu-open{
  right: 0;
}

.feature-bar {
  display: flex;
  text-transform: uppercase;
  justify-content: flex-end;
  align-items: center;

  span {
    padding: 0 15px;
  }

  &__user {
    color: #fff;
    padding-right: 15px;

    @include media-breakpoint-down(md){
      span {
        display: none;
      }
    }
  }

  &__logout {
    color: #fff;
    padding: 0 10px;

    @include media-breakpoint-down(md){
      span {
        display: none;
      }
    }
  }

  // &__burger {
  // }
}

.burger-btn {

  display: none;
  position: relative;
  width: 30px;
  height: 20px;

  @include media-breakpoint-down(md){
    display: block;

    span {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 9px;
      background: #fff;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }

    &:after, &:before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background: #fff;
      transition: all .3s;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    &.open span{
      opacity: 0;
    }

    &.open:before{
      transform: rotate(45deg);
      top: 9px;
    }

    &.open:after{
      transform: rotate(-45deg);
      top: 9px;
    }
  }
}

//***************************CONTENT**************************

.content {

  width: 100%;
  height: calc(100% - 80px);
  padding: 15px;
  background-color: #f1f5f8;

  // &__header {
  // }

  // &__info {
  // }

  // &__btn-block {
  // }

  &__body {
    flex: 1 1 auto;
    overflow: auto;
  }

  // &__table {
  // }

  &__footer {
    padding: 30px 0
  }

  @include media-breakpoint-down(md){
    height: calc(100% - 50px);
  }
}
.container {

  height: 100%;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down(lg){
    width: 80%;
  }

  @include media-breakpoint-down(md){
    width: 100%;
  }
}
.info {

  width: 100%;
  border-bottom: 1px solid #1c3faa;
  padding-bottom: 15px;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;

  &__item {
    margin-right: 30px;

    span {
      display: block;
    }
  }

  @include media-breakpoint-down(md){
    display: block;

    &__item {
      display: flex;
      justify-content: space-between;
    }
  }
}
.btn-block {

  padding: 30px 0;
  display: flex;

  // &__left {
  // }

  &__right {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;

    .btn{
      padding: 0 10px;
      margin-right: 0;
    }
  }

  @include media-breakpoint-down(lg){
    padding: 20px 0;
  }

  @include media-breakpoint-down(md){
    padding: 15px 0;
  }
}
.btn {
  padding: 5px 40px;
  background-color: $accent;
  border: 1px solid $accent;
  border-radius: 5px;
  color: #fff;
  transition: all .3s;
  cursor: pointer;

  &:hover{
    background-color: #0056b3;
    border-color: #0056b3;
    transition: all .3s;
  }
}

.table {
  width: 100%;
  border-spacing: 0 15px;
  border-collapse: separate;

  thead {
    text-transform: uppercase;
  }

  tr{
    transform: all .3s;
  }

  tr:hover {
    box-shadow: 10px 8px 10px rgba(19,77,127,.17);
    transition: all .3s;
  }

  th {
    padding: 20px 15px;

    @include media-breakpoint-down(md){
      padding: 15px 15px;
    }

    @include media-breakpoint-down(sm){
      padding: 10px 15px;
    }
  }

  td{
    padding: 20px 15px;
    background-color: #fff;
    white-space: nowrap;

    &:first-child {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }

    &:last-child {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }

    @include media-breakpoint-down(md){
      padding: 15px 15px;
    }

    @include media-breakpoint-down(sm){
      padding: 10px 15px;
    }
  }

  &__date {
    width: 16.67%
  }

  &__description {
    width: 33.34%;
  }

  &__check {
    width: 8.33%;
  }

  &__type {
    width: 9%;

    span{
      display: inline-block;
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 2px 15px;
      vertical-align: middle;
    }
  }

  &__amount {
    width: 16%;
  }

  &__operation {
    
    width: 16.67%;
    text-align: center;

    i:not(:last-child) {
      padding-right: 30px;
    }

    i:hover {
      color: #6c757d;
      transition: all .3s;
  }
  }

  &__type--outcome {
    span {
      border-color: #d32929;
    }
  }

  &__type--income {
    span {
      border-color: #91c714;
    }
  }
}

.pagination {
  text-align: center;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    vertical-align: top;
    min-height: 30px;
    overflow: hidden;
  }

  li a {
    text-decoration: none;
    color: #2d3748;
    display: inline-block;
    font-size: 1.2rem;
    padding: 5px 15px;
    line-height: 30px;
  }

  li.active {
    background-color: #fff;
  
    a {
      color: #000;
    }
  }

  li.disabled a {
    cursor: default;
    color: #999;
  }

}

.waves-effect {

  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  z-index: 1;
  transition: .3s ease-out;
}

//************************LOGIN**************************

